@charset "UTF-8";

*, *::before, *::after {
    box-sizing: border-box;
}

/* パンくずリスト */
.breadcrumb_list {
    margin: 8px 0;
}


/* ---------
   第三階層
 -------- */
.level3_container {
    padding: 12px;
}

.level3_title {
    background-color: #89A15A;
    box-shadow: 4px 4px #627442;
    margin: 16px 0;
    padding: 8px 12px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}

.level3_section {
    margin: 12px 0 8px 12px;
}

.level3_title2 {
    background-color: #D1D7C5;
    padding: 8px 12px;
    font-size: 1.2rem;
    font-weight: bold;
}

.level3_section_item{
    margin: 12px 12px 24px;
}